.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1em;
  margin-bottom: 3em;

  .filters-heading {
    text-align: center;
    border-bottom: 1px solid #c4bcba;
  }

  .grid-btn-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.2em 2.5em;
    justify-items: center;
    margin-bottom: 2em;

    .filter-btn {
      background-color: #c5e09b;
      color: #010502;
      width: 118px;
      height: 44px;
      border-radius: 7px;
    }
    .filter-btn.active {
      background-color: #7cba16;
    }
  }

  aside {
    background-color: #fff;
    padding: 1em;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }

  .pictures-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

    .picture-card {
      background-color: #fff;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      padding: 1em;
      margin-bottom: 0;
      text-align: center;

      .card-img {
        background-color: #f2f2f2;
        margin: 1em 1em 1em 0;
      }

      .card-content {
        text-align: left;
      }
    }
  }
}

footer {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 699px) {
  .grid {
    grid-template-columns: 1fr;

    .pictures-grid {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 700px) and (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr 1fr;

    .pictures-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
}
