<div>
  <main class="grid">
    <aside>
      <h4 class="filters-heading">Launch Year</h4>

      <div class="grid-btn-cols">
        <button
          class="filter-btn"
          *ngFor="let item of years; index as i"
          (click)="onFilterChange({ launch_year: item.value })"
          [ngClass]="{
            active: selectedFilters.launch_year === item.value
          }"
        >
          {{ item.label }}
        </button>
      </div>

      <h4 class="filters-heading">Successful Launch</h4>

      <div class="grid-btn-cols">
        <button
          class="filter-btn"
          [ngClass]="{
            active: selectedFilters.launch_success === true
          }"
          (click)="onFilterChange({ launch_success: true })"
        >
          True
        </button>

        <button
          class="filter-btn"
          [ngClass]="{
            active: selectedFilters.launch_success === false
          }"
          (click)="onFilterChange({ launch_success: false })"
        >
          False
        </button>
      </div>

      <h4 class="filters-heading">Successful Landing</h4>

      <div class="grid-btn-cols">
        <button
          class="filter-btn"
          [ngClass]="{ active: selectedFilters.land_success === true }"
          (click)="onFilterChange({ land_success: true })"
        >
          True
        </button>
        <button
          class="filter-btn"
          [ngClass]="{ active: selectedFilters.land_success === false }"
          (click)="onFilterChange({ land_success: false })"
        >
          False
        </button>
      </div>
    </aside>

    <section class="pictures-grid">
      <figure *ngFor="let item of launches" class="picture-card">
        <img
          class="card-img"
          [src]="item.mission_patch_small"
          alt="Missio Photo"
          loading="lazy"
        />
        <table class="card-content">
          <tbody>
            <tr class="mission-row">
              <th>{{ item.mission_name }}</th>
              <td>#{{ item.flight_number }}</td>
            </tr>
            <tr>
              <th>Mission Ids:</th>
              <td></td>
            </tr>
            <tr>
              <td>
                <ul class="mission-id-list">
                  <li *ngFor="let item of item.mission_id">
                    {{ item }}
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <th>Launch Year:</th>
              <td>{{ item.launch_year }}</td>
            </tr>
            <tr>
              <th>Successful Launch:</th>
              <td>{{ item.launch_success }}</td>
            </tr>
            <tr>
              <th>Successful Landing:</th>
              <td>{{ item.land_success }}</td>
            </tr>
          </tbody>
        </table>
      </figure>

      <p *ngIf="!launches?.length">No record exists for the selected filter.</p>
    </section>
  </main>

  <footer>
    <h1>Developed By: Navneet Prakash</h1>
  </footer>
</div>
